
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Joseph Santy">

    <title>Joseph Santy</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>

:root {
  --jumbotron-padding-y: 4rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-container2 {
  position: relative;
  overflow: hidden;
  padding-top: 2%;
}

.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

    </style>
    <!-- Custom styles for this template -->
  </head>

  <body>

    <main role="main">
      <br><br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Joseph Santy</h1>
          <p class="lead text-muted">Techno-functional Consultant and Javascript Developer</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

            <div class="row proposal">

              <div class="col-md-12">

            	<h3>About me</h3>
                <p>I hold a bachelor's degree in International Business and a master's degree in Education.  I love to travel and have lived in seven different countries over the past dozen years.  Having worked as a teacher and as a consultant, I'm ready to delve into programming professionally.</p>
                <h3>My forte</h3>
                <p>I'm an avid javascript programmer.  I started coding in 2012 and quickly worked through the whole codecademy curriculum.  Learning a bit about languages such as ruby and python gave me a decent understanding of object-oriented programming principles, but I decided to concentrate on learning javascript due to its versatility.</p>
                <p>I dabbled in creating simple websites using libraries such as jQuery and bootstrap when I first got started.  A couple years later, I installed linux on a new laptop and discovered node.  From there I've slowly been working on learning new libraries and frameworks.  I've primarily built MEAN-stack apps using Angular, Yeoman, Express, MongoDB.  Most recently, I've been learning to implement Hyperledger blockchains and networks.</p>
                <h3>Why you should hire me as a remote developer</h3>
                <ul>
                	<li>I'll bring value to the company.  Use the software I build for years to come.</li>
                	<li>Using my training as a consultant, I can write software that fits the clients' needs.</li>
                	<li>The option for me to work remotely ensures that I can continue to work for the company for years to come.  If I need to relocate in the future, I won't be forced to quit.</li>
                	<li>A satisfying job role will lead me to be more productive and contribute more to the company.</li>
                </ul>
              </div>
            </div>
            <br><br>

            <div class="resume">

                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="card mb-4 box-shadow">
                        <div class="card-body">
                          <h3>Hyperblog</h3>
                          <h5>App Highlights</h5>
                          <ul>
                            <li>Blog platform on a Hyperledger blockchain</li>
                            <li>Create users</li>
                            <li>Create blog posts</li>
                          </ul>
                          <h5>Technology Stack</h5>
                          <ul>
                            <li>Hyperledger Fabric Blockchain</li>
                            <li>Hyperledger Composer</li>
                            <li>Yeoman</li>
                            <li>Angular</li>
                          </ul>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="https://github.com/joe-santy/hyperblog"> <button type="button" class="btn btn-sm btn-outline-secondary">View Source</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="card mb-4 box-shadow">
                        <div class="card-body">
                          <h3>MediaHelper</h3>
                          <h5>App Highlights</h5>
                          <ul>
                            <li>Downloads photos from any subreddit's first page.</li>
                            <li>Downloads videos from any online source.</li>
                            <li>Initiates slideshow or video playback using feh and vlc.</li>
                          </ul>
                          <h5>Technology Stack</h5>
                          <ul>
                            <li>Fetch.js</li>
                            <li>Reddit API</li>
                            <li>Youtubedl</li>
                            <li>bash/linux</li>
                          </ul>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="https://github.com/joe-santy"> <button type="button" class="btn btn-sm btn-outline-secondary">View Source</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="card mb-4 box-shadow">
                        <div class="card-body">
                          <h3>ToDo</h3>
                          <h5>App Highlights</h5>
                          <ul>
                            <li>Add and remove ToDos</li>
                            <li>Command-line interface</li>
                          </ul>
                          <h5>Technology Stack</h5>
                          <ul>
                            <li>Inquirer.js</li>
                            <li>Mongoose.js</li>
                          </ul>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="https://github.com/joe-santy"> <button type="button" class="btn btn-sm btn-outline-secondary">View Source</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="card mb-4 box-shadow">
                        <div class="card-body">
                          <h3>A Board With A Bag</h3>
                          <h5>App Highlights</h5>
                          <ul>
                            <li>Responsive, mobile-friendly design.</li>
                            <li>Hosted on cPanel.</li>
                          </ul>
                          <h5>Technology Stack</h5>
                          <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            <li>jQuery</li>
                            <li>Typescript</li>
                            <li>Angular</li>
                          </ul>
                          <div class="d-flex justify-content-between align-items-center">

                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12 iframe-container">
                          <iframe src="https://drive.google.com/file/d/14uDEER8lYx-loX4le4Ew2HCH6aIl81_P/preview" width="1100" height="600" ></iframe>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 iframe-container2">
                          <iframe src="https://drive.google.com/file/d/1-6tS4VrvqF2whlbEwgV3PBv8Ue5viaGt/preview" width="1100" height="300" ></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 iframe-container2">
                          <iframe src="https://drive.google.com/file/d/1aVM7rOBLann9jSIl5h6KeACpUG1nCPql/preview" width="1100" height="300"></iframe>
                        </div>
                    </div>
                </div>
             </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p>&copy; Joseph Santy 2019</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
